<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="3" align="left" valign="top" 
      style="background-image:url(../assets/images/head_bg.png); background-repeat:repeat-x; height:40px;">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
        <!--    <td align="left" valign="top" width="12%">
              <img src="../assets/images/small_logo.png" width="91" height="40" /></td>
        <td align="left" valign="top"  width="20%"><img src="../assets/images/head_sub_title.png"  /></td>-->
            <td align="left" valign="top" width="32%">&nbsp;</td>
            <td width="48%" align="right" valign="middle" class="white_bold" style="padding-right:2%;">Welcome User</td>
            <td width="8%" align="right" valign="middle" class="white_bold" style="padding-right:2%;">
                <button (click)="logOut()" color="primary">SignOut</button>            
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top">
        <div id="myslidemenu" class="jqueryslidemenu" style="height: '100px;'">
          <ul>
            <li><a href="#" class="butlink"> My Content</a></li>
            <li> <a href="#" class="butlink">Create Content</a></li>
            <li><a href="#" class="butlink">Tools</a></li>
            <li><a href="#" class="butlink">Help & Learn </a></li>
            <li><a href="#" class="butlink">Settings</a></li>
            <li> <a href="#" class="butlink">United States(English) </a></li>
            <li><a href="#" class="butlink">Logout</a> </li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td align="left" colspan="1" valign="top">        
        <app-menu-item></app-menu-item>
      </td>
      <td align="left" valign="top" colspan="2" style="border: 2px solid grey; Height: 100%   ;">
        <div name="map" id="map" style="background-color:#ffffff;" class="smallmap">
            <router-outlet ></router-outlet>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="1" width="24%" align="left" valign="top" style="background-color:#d3d3d3 ;background-repeat:repeat-x;">&nbsp;</td>
      <td colspan="1" width="1%" align="left" valign="top" style="background-color:#d3d3d3 ;background-repeat:repeat-x; ">&nbsp;</td>
      <td style="background-color:#d3d3d3 ;background-repeat:repeat-x;" valign="bottom">
        <TABLE style="MARGIN-LEFT: 0px" border=0 borderColor=grey>
          <TR>
            <TD align=middle>Copyright &#169; 2017  TCS Services. Confidential and
              Proprietary. | <A href="#">Terms and Conditions</A>
            </TD>
            <TD align="right" valign="top" width="30%">&nbsp;</TD>
            <TD align=right>
              <!-- <IMG border=0 alt="" src="../images/fotter.png"  height=30> -->
            </TD>
          </TR>
        </TABLE>
      </td>
    </tr>
  </table>